In [ ]:
import pandas as pd

# Specify the path to your CSV file
file_path = r"C:\Work\DEPI graduation project\data\data.csv"

# Read the CSV into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows
print(df.head())

       id            title  vote_average  vote_count    status release_date  \
0   27205        Inception         8.364       34495  Released   2010-07-15
1  157336     Interstellar         8.417       32571  Released   2014-11-05
2     155  The Dark Knight         8.512       30619  Released   2008-07-16
3   19995           Avatar         7.573       29815  Released   2009-12-15
4   24428     The Avengers         7.710       29166  Released   2012-04-25

      revenue  runtime  adult                     backdrop_path  ...  \
0   825532764      148  False  /8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg  ...
1   701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
2  1004558444      152  False  /nMKdUUepR0i5zn0y1T4CsSB5chy.jpg  ...
3  2923706026      162  False  /vL5LR6WdxWPjLPFRLe133jXWsh5.jpg  ...
4  1518815515      143  False  /9BBTo63ANSmhC4e6r62OJFuK2GL.jpg  ...

    original_title                                           overview  \
0        Inception  Cobb, a skilled thief who commits corporate es...
1     Interstellar  The adventures of a group of explorers who mak...
2  The Dark Knight  Batman raises the stakes in his war on crime. ...
3           Avatar  In the 22nd century, a paraplegic Marine is di...
4     The Avengers  When an unexpected enemy emerges and threatens...

  popularity                       poster_path  \
0     83.952  /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1    140.241  /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2    130.643  /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3     79.932  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4     98.082   /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg

                                             tagline  \
0               Your mind is the scene of the crime.
1  Mankind was born on Earth. It was never meant ...
2                  Welcome to a world without rules.
3                        Enter the world of Pandora.
4                            Some assembly required.

                                        genres  \
0           Action, Science Fiction, Adventure
1            Adventure, Drama, Science Fiction
2               Drama, Action, Crime, Thriller
3  Action, Adventure, Fantasy, Science Fiction
4           Science Fiction, Action, Adventure

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                       production_countries  \
0  United Kingdom, United States of America
1  United Kingdom, United States of America
2  United Kingdom, United States of America
3  United States of America, United Kingdom
4                  United States of America

                     spoken_languages  \
0  English, French, Japanese, Swahili
1                             English
2                   English, Mandarin
3                    English, Spanish
4             English, Hindi, Russian

                                            keywords
0  rescue, mission, dream, airplane, paris, franc...
1  rescue, future, spacecraft, race against time,...
2  joker, sadism, chaos, secret identity, crime f...
3  future, society, culture clash, space travel, ...
4  new york city, superhero, shield, based on com...

[5 rows x 24 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325203 entries, 0 to 1325202
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1325203 non-null  int64
 1   title                 1325186 non-null  object
 2   vote_average          1325203 non-null  float64
 3   vote_count            1325203 non-null  int64
 4   status                1325203 non-null  object
 5   release_date          1055483 non-null  object
 6   revenue               1325203 non-null  int64
 7   runtime               1325203 non-null  int64
 8   adult                 1325203 non-null  bool
 9   backdrop_path         336620 non-null   object
 10  budget                1325203 non-null  int64
 11  homepage              137522 non-null   object
 12  imdb_id               646940 non-null   object
 13  original_language     1325203 non-null  object
 14  original_title        1325186 non-null  object
 15  overview              1029435 non-null  object
 16  popularity            1325203 non-null  float64
 17  poster_path           871715 non-null   object
 18  tagline               184556 non-null   object
 19  genres                757473 non-null   object
 20  production_companies  574937 non-null   object
 21  production_countries  699950 non-null   object
 22  spoken_languages      724692 non-null   object
 23  keywords              336410 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 233.8+ MB

In [ ]:
df = df[df["status"] == "Released"]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1282819 entries, 0 to 1325201
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1282819 non-null  int64
 1   title                 1282807 non-null  object
 2   vote_average          1282819 non-null  float64
 3   vote_count            1282819 non-null  int64
 4   status                1282819 non-null  object
 5   release_date          1037940 non-null  object
 6   revenue               1282819 non-null  int64
 7   runtime               1282819 non-null  int64
 8   adult                 1282819 non-null  bool
 9   backdrop_path         329531 non-null   object
 10  budget                1282819 non-null  int64
 11  homepage              133296 non-null   object
 12  imdb_id               634369 non-null   object
 13  original_language     1282819 non-null  object
 14  original_title        1282807 non-null  object
 15  overview              996975 non-null   object
 16  popularity            1282819 non-null  float64
 17  poster_path           853803 non-null   object
 18  tagline               178057 non-null   object
 19  genres                726967 non-null   object
 20  production_companies  552349 non-null   object
 21  production_countries  673686 non-null   object
 22  spoken_languages      694921 non-null   object
 23  keywords              326192 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 236.1+ MB

In [ ]:
df = df.drop('status', axis=1)

In [ ]:
df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'release_date', 'revenue',
       'runtime', 'adult', 'backdrop_path', 'budget', 'homepage', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'tagline', 'genres', 'production_companies',
       'production_countries', 'spoken_languages', 'keywords'],
      dtype='object')

In [ ]:
df = df.drop('budget', axis=1)

In [ ]:
df = df.drop(['tagline', 'keywords'], axis=1)

In [ ]:
df = df.drop(['homepage'], axis=1)

In [ ]:
df = df.dropna(subset=['title'])

In [ ]:
df = df.dropna(subset=['imdb_id'])

In [ ]:
df.isna().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
release_date             57033
revenue                      0
runtime                      0
adult                        0
backdrop_path           422082
imdb_id                      0
original_language            0
original_title               0
overview                 87569
popularity                   0
poster_path             158768
genres                  171636
production_companies    290652
production_countries    208663
spoken_languages        203604
dtype: int64

In [ ]:
# Save the dataframe to CSV
df.to_csv(r'C:\Work\DEPI graduation project\data\processed_movies.csv', index=False)

In [ ]:
df["overview_filled"] = df["overview"].fillna(df["title"])
df["id_overview"] = df["id"].astype(str) + " | " + df["overview_filled"]
print(df[["id", "overview_filled", "id_overview"]].head())
df.to_csv(r'C:\Work\DEPI graduation project\data\processed_movies.csv', index=False)

       id                                    overview_filled  \
0   27205  Cobb, a skilled thief who commits corporate es...
1  157336  The adventures of a group of explorers who mak...
2     155  Batman raises the stakes in his war on crime. ...
3   19995  In the 22nd century, a paraplegic Marine is di...
4   24428  When an unexpected enemy emerges and threatens...

                                         id_overview
0  27205 | Cobb, a skilled thief who commits corp...
1  157336 | The adventures of a group of explorer...
2  155 | Batman raises the stakes in his war on c...
3  19995 | In the 22nd century, a paraplegic Mari...
4  24428 | When an unexpected enemy emerges and t...

In [ ]:
df.info()

In [1]:
import pandas as pd
file_path = r"C:\Work\DEPI graduation project\data\processed_movies.csv"

# Read the CSV into a DataFrame
df = pd.read_csv(file_path)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634368 entries, 0 to 634367
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    634368 non-null  int64
 1   title                 634368 non-null  object
 2   vote_average          634368 non-null  float64
 3   vote_count            634368 non-null  int64
 4   release_date          577335 non-null  object
 5   revenue               634368 non-null  int64
 6   runtime               634368 non-null  int64
 7   adult                 634368 non-null  bool
 8   backdrop_path         212286 non-null  object
 9   imdb_id               634368 non-null  object
 10  original_language     634368 non-null  object
 11  original_title        634368 non-null  object
 12  overview              546799 non-null  object
 13  popularity            634368 non-null  float64
 14  poster_path           475600 non-null  object
 15  genres                462732 non-null  object
 16  production_companies  343716 non-null  object
 17  production_countries  425705 non-null  object
 18  spoken_languages      430764 non-null  object
 19  overview_filled       634368 non-null  object
 20  id_overview           634368 non-null  object
dtypes: bool(1), float64(2), int64(4), object(14)
memory usage: 97.4+ MB

In [3]:
# drop by name, return a new DataFrame
df = df.drop(columns=["adult", "imdb_id"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634368 entries, 0 to 634367
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    634368 non-null  int64
 1   title                 634368 non-null  object
 2   vote_average          634368 non-null  float64
 3   vote_count            634368 non-null  int64
 4   release_date          577335 non-null  object
 5   revenue               634368 non-null  int64
 6   runtime               634368 non-null  int64
 7   backdrop_path         212286 non-null  object
 8   original_language     634368 non-null  object
 9   original_title        634368 non-null  object
 10  overview              546799 non-null  object
 11  popularity            634368 non-null  float64
 12  poster_path           475600 non-null  object
 13  genres                462732 non-null  object
 14  production_companies  343716 non-null  object
 15  production_countries  425705 non-null  object
 16  spoken_languages      430764 non-null  object
 17  overview_filled       634368 non-null  object
 18  id_overview           634368 non-null  object
dtypes: float64(2), int64(4), object(13)
memory usage: 92.0+ MB

In [11]:
df = df.drop(columns=["overview_filled", "id_overview"])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634368 entries, 0 to 634367
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    634368 non-null  int64
 1   title                 634368 non-null  object
 2   vote_average          634368 non-null  float64
 3   vote_count            634368 non-null  int64
 4   release_date          577335 non-null  object
 5   revenue               634368 non-null  int64
 6   runtime               634368 non-null  int64
 7   backdrop_path         212286 non-null  object
 8   original_language     634368 non-null  object
 9   original_title        634368 non-null  object
 10  overview              546799 non-null  object
 11  popularity            634368 non-null  float64
 12  poster_path           475600 non-null  object
 13  genres                462732 non-null  object
 14  production_companies  343716 non-null  object
 15  production_countries  425705 non-null  object
 16  spoken_languages      430764 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 82.3+ MB

In [14]:
df = df.dropna(subset=['overview', 'genres'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 409570 entries, 0 to 634367
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    409570 non-null  int64
 1   title                 409570 non-null  object
 2   vote_average          409570 non-null  float64
 3   vote_count            409570 non-null  int64
 4   release_date          400499 non-null  object
 5   revenue               409570 non-null  int64
 6   runtime               409570 non-null  int64
 7   backdrop_path         184484 non-null  object
 8   original_language     409570 non-null  object
 9   original_title        409570 non-null  object
 10  overview              409570 non-null  object
 11  popularity            409570 non-null  float64
 12  poster_path           345887 non-null  object
 13  genres                409570 non-null  object
 14  production_companies  274659 non-null  object
 15  production_countries  331141 non-null  object
 16  spoken_languages      333882 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 56.2+ MB

In [18]:
def normalize_list_field(value):
    if isinstance(value, list):
        return ", ".join(value)
    if pd.isna(value):
        return ""
    return str(value)

df["genres_text"] = df["genres"].apply(normalize_list_field)
df["companies_text"] = df["production_companies"].apply(normalize_list_field)

df["id_overview"] = (
    "ID: " + df["id"].astype(str)
    + " | Overview: " + df["overview"].fillna("")
    + " | Genres: " + df["genres_text"]
    + " | Production companies: " + df["companies_text"]
)

In [22]:
df.head()

,id,title,vote_average,vote_count,release_date,revenue,runtime,backdrop_path,original_language,original_title,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages,genres_text,companies_text,id_overview
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","ID: 27205 | Overview: Cobb, a skilled thief wh..."
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...",ID: 157336 | Overview: The adventures of a gro...
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...",ID: 155 | Overview: Batman raises the stakes i...
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","ID: 19995 | Overview: In the 22nd century, a p..."
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","Science Fiction, Action, Adventure",Marvel Studios,ID: 24428 | Overview: When an unexpected enemy...

In [23]:
df.to_csv(r'C:\Work\DEPI graduation project\data\processed_movies.csv', index=False)